*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --red           : hsl(0, 78%, 62%);
    --cyan          : hsl(180, 62%, 55%);
    --orange        : hsl(34, 97%, 64%);
    --blue          : hsl(212, 86%, 64%);
    --veryDarkBlue  : hsl(234, 12%, 34%);
    --grayishBlue   : hsl(229, 6%, 66%);
    --veryLightGray : hsl(0, 0%, 98%);
    --white         : white;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
    background-color: var(--veryLightGray);
}

h1, h2, h3, h4, p {
    margin: 0;
}

.wrapper {
    padding: 5em 1.9em 0 1.9em;
}
// Section Header
.section__header {
    // border: 1px solid red;
    text-align: center;
    // display: none;
}

.title {
    // border: 1px solid green;
    font-weight: 200;
    margin-bottom: .5em;
    font-size: 1.6em;
    &__second {
        // border: 1px solid yellow;
        font-weight: 600;
        display: block;
    }
}

.copy {
    // border: 1px solid blue;
    color: var(--grayishBlue);
}

// Card

.card {
    background-color: var(--white);
    padding: 2em;
    margin-bottom: 2em;
    box-shadow: 1px 5px 10px 1px var(--grayishBlue);

    &.supervisor {
        border-top: 4px solid var(--cyan);
        border-radius: .5em;
    }
    
    &.teamBuilder {
        border-top: 4px solid var(--red);
        border-radius: .5em;
    }

    &.karma {
        border-top: 4px solid var(--orange);
        border-radius: .5em;
    }

    &.calculator {
        border-top: 4px solid var(--blue);
        border-radius: .5em;
    }

    &__title {
        margin-bottom: .3em;
    }

    .copy {
        font-size: .9em;
        margin-bottom: 1.9em;
    }
    
    .img {
        display: block;
        width: 3.5rem;
        height: 3.5em;
        // border: 1px solid green;
    }
    
    &__img {
        // border: 1px solid black;
        display: flex;
        justify-content: flex-end;
    }
}


//responsive design

@media screen and (min-width:  480px ) {

    .title {
        // border: 1px solid red;
        font-size: 2em;
        font-weight: 300;
    }
}

@media screen and (min-width:  768px ) {

    .title {
        // border: 1px solid red;
        font-size: 2em;
    }
    .copy {
        padding: 0 6rem;
    }

    .card {
        .copy {
            padding: 0;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }

}

@media screen and (min-width: 1024px) {
    .title {
        // border: 1px solid red;
        font-size: 2.4em;
    }

    .grid {
        // border: 1px solid red;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "supervisor1 teambuilder1 karma1"
                             "supervisor1 calculator1 karma1";
    }

    .wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .copy {
        padding: 0 14rem;
    }

   
    
    .card {
        .copy {
            padding: 0;
        }
 
        &.supervisor {
            grid-area: supervisor1;
            height: 14rem;
            width: 100%;
            margin: auto;
        }
        
        &.teamBuilder {
            grid-area: teambuilder1;
        }
        &.karma {
            grid-area: karma1;
            height: 14rem;
            width: 100%;
            margin: auto;
        }
        &.calculator {
            grid-area: calculator1;
        }
    }
}

@media screen and (min-width: 1200px) {
    .copy {
        padding: 0 20rem;
    }

    .card {
        .copy {
            padding: 0;
        }
    }
}
